.range {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.rangeHeader {
  width: 559px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rangeHeader h3 {
  height: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--black);
}

.rangeHeader p {
  width: 90vw;
  height: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.rangeBox {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rangeCard {
  height: 100%;
  width: 381px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rangeCard p {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.rangeImageBox {
  width: 381px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.rangeImage {
  position: absolute;
  object-fit: cover;
}

.dining1 {
  width: 782px;
  height: 521px;
  top: -30px;
}

.living1 {
  width: 762px;
  height: 508px;
  right: 0px;
  top: -14px;
}

.bedroom1 {
  width: 720px;
  height: 480px;
  left: -100px;
}

@media (max-width: 1300px) {
  .rangeBox {
    gap: 30px;
    justify-content: center;
  }

  .rangeImageBox {
    width: 100%;
  }
}
