.shopHeader {
  width: 100vw;
  height: 316px;
  margin-top: 100px;
  position: relative;
}
.shopHeaderImage {
  width: 100vw;
  height: 316px;
  object-fit: cover;
  filter: blur(3px);
  opacity: 50%;
}
.shopHeaderText {
  width: 124px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  align-self: center;
  color: var(--black4);
}
.shopHeaderText h2 {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  line-height: 100%;
}
.shopHeaderText > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 24px;
}
.shopHeaderText strong {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
}
.shopHeaderText p {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 100%;
}
/* ---------------------------------- */
.filter {
  width: 100%;
  height: 100px;
  background-color: var(--red2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: -50px;
  z-index: 9;
}
.filterLeft,
.filterBox,
.filterRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterLeft {
  gap: 30px;
  height: 37px;
}
.filterLeft p {
  height: 37px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: var(--black4);
  border-left: 2px solid var(--gray5);
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.filterBox {
  width: 85px;
  height: 30px;
}
.filterBox p {
  font-size: 20px !important;
  border: none !important;
  padding: 0 !important;
}
.filterBox .filterIcon {
  width: 19.5px;
  height: 16.67px;
}
.filterIcon:nth-child(2) {
  width: 16.33px;
  height: 16.33px;
}
.filterIcon:nth-child(3) {
  width: 21px;
  height: 19.5px;
}
.filterRight {
  height: 55px;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  gap: 30px;
}
.filterRight p {
  color: var(--black4);
}
.filterRight span {
  color: var(--gray5);
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.filterBox1,
.filterBox2 {
  width: 126px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterBox1 span {
  width: 55px;
  height: 55px;
  justify-content: center;
}
.filterBox2 {
  width: 288px;
}
.filterBox2 span {
  width: 188px;
  height: 55px;
  padding-left: 30px;
}
/* --------------- */
.shopProducts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.shopProducts .productsBox {
  width: 1236px;
}
.shopPages {
  width: 392px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 100%;
  color: var(--black4);
}
.shopPages span {
  width: 60px;
  height: 60px;
  background-color: var(--red2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.shopPages span:not(:first-child) {
  cursor: pointer;
}
.shopPages span:first-child {
  color: var(--white);
  background-color: var(--main);
}
.shopPages span:last-child {
  width: 98px;
}
/* ---------------------- */
.shopServices {
  width: 100%;
  height: 270px;
  background-color: var(--red3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopServicesBox {
  width: 1334px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopServicesBox > div {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.serviceLogo {
  width: 60px;
  height: 60px;
}
.serviceText {
  height: 100%;
  width: auto;
  color: var(--black5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.serviceText h5 {
  width: 100%;
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
}
.serviceText p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray2);
}
